<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voucher</title>
    <link rel="stylesheet" href="resources/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
</head>
<body>
  <div>
    <div class="fml">
      <form method="POST" >
        <div> 
          <strong><label for="codEmpleado"> <p class="fs-5 text-white">CODIGO DE EMPLEADO</p></label></strong>
          <input class="inp d-grid gap-2 col-6 mx-auto mb-4 text-center" type="number" name="codEmpleado" id="codEmpleado" placeholder="codigo" autofocus required>
            <input type="submit" class="btn btn-danger md-4" formaction="/getEmployee" value="ACEPTAR">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if (typeof alert != "undefined")  { %>
      <script>
          Swal.fire({
          title:'<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
          }).then(()=>{
            window.location='/<%= ruta %>'
            })
      </script>
     <% } %>
  </div>
  <%- include('footer') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>